page-connection {

    // Overriding Android specific items to have transparent background
    .toolbar-background-md {
        background-color: rgba(0,0,0,0);
    }

    .item-md {
        background-color: rgba(0,0,0,0);
    }

    .connection-bg {
        background-image: url('../assets/svg/connection-bg.svg'); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .device-name-bg{
        color: color($colors, sun-yellow);
    }

    .item-md.activated{
        background-color: rgba(0, 0, 0, 0.2);
    }
}
