page-connection {
    .transparent-bg {
        background-color: rgba(0,0,0,0);
    }

    // Overriding Android specific items to have transparent background
    .toolbar-background-md {
        background-color: rgba(0,0,0,0);
    }

    .item-md {
        background-color: rgba(0,0,0,0);
    }

    .connection-bg {
        background-image: url('../assets/img/connection-bg.png'); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
