<!-- Generated template for the HoneycombColorPickerComponent component -->
<div>
  <svg viewBox="0 0 87.655396 94.864873" height="94.864876mm" width="87.655396mm">
    <g
     transform="translate(-0.17230275,-211.46157)"
     id="layer1">
    <path (click)="updateColor($event)"
       id="honeycomb-center"
       d="m 52.607423,258.89401 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       style="fill:#ffd42a;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 69.021272,268.37054 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="honeycomb-cyan"
       style="fill:#00ffff;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 69.021272,249.41747 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="honeycomb-green"
       style="fill:#008000;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 52.607423,239.94093 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="honeycomb-orange"
       style="fill:#ff7f2a;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 36.193574,249.41747 -4.303712,7.45424 H 23.28244 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="honeycomb-red"
       style="fill:#ff0000;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 36.193574,268.37054 -4.303712,7.45424 H 23.28244 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="honeycomb-magenta"
       style="fill:#ff00ff;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 52.607423,277.84708 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="honeycomb-blue"
       style="fill:#0000ff;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 69.021272,230.46439 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6"
       style="fill:#ccff00;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 85.435121,239.94093 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6-2"
       style="fill:#00ff00;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 85.435121,258.89401 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6-2-9"
       style="fill:#5fd38d;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 85.435121,277.84708 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6-2-9-1"
       style="fill:#55ffdd;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 69.021272,287.32361 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6-2-9-1-2"
       style="fill:#55ddff;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 52.607423,296.80017 -4.303712,7.45424 h -8.607422 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6-2-9-1-2-7"
       style="fill:#0055d4;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 36.193574,287.32364 -4.303712,7.45424 H 23.28244 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6-2-9-1-2-7-0"
       style="fill:#7137c8;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 19.779725,277.84711 -4.303711,7.45424 H 6.868591 l -4.3037111,-7.45424 4.3037111,-7.45424 h 8.607423 z"
       id="path887-3-6-7-6-2-9-1-2-7-0-9"
       style="fill:#dd55ff;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 19.779725,258.89401 -4.303711,7.45424 H 6.868591 l -4.3037111,-7.45424 4.3037111,-7.45424 h 8.607423 z"
       id="path887-3-6-7-6-2-9-1-2-7-0-9-3"
       style="fill:#c837ab;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 19.779725,239.94093 -4.303711,7.45424 H 6.868591 l -4.3037111,-7.45424 4.3037111,-7.45424 h 8.607423 z"
       id="path887-3-6-7-6-2-9-1-2-7-0-9-3-6"
       style="fill:#ffaacc;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 36.193574,230.46439 -4.303712,7.45424 H 23.28244 l -4.303712,-7.45424 4.303712,-7.45424 h 8.607422 z"
       id="path887-3-6-7-6-2-9-1-2-7-0-9-3-6-0"
       style="fill:#ffcc00;fill-opacity:1;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none;paint-order:fill markers stroke"
       inkscape:connector-curvature="0" />
    <path (click)="updateColor($event)"
       d="m 52.607428,220.98802 -4.303712,7.45406 h -8.607422 l -4.303712,-7.45406 4.303712,-7.45467 h 8.607422 z"
       id="path887-3-6-7-6-2-9-1-2-7-0-9-3-6-0-6"
       style="fill:#f6ffd5;fill-opacity:1;paint-order:fill markers stroke;stroke-width:0.05291667;stroke-miterlimit:4;stroke-dasharray:none"
       inkscape:connector-curvature="0" />
  </g>
  </svg>
</div>
