page-detail {
  .toolbar-background {
   // background: radial-gradient(circle at bottom, rgb(250,219,10) 0%, rgb(145,31,145) 100%);
    background: color($colors, header-bg);
  }

  .item {
    min-height: 2rem; /* <- this can be whatever you need */
  }

  .pattern{
    // background: linear-gradient(0.25turn,rgb(145,31,145) 0%, rgb(250,219,10) 50%, rgb(145,31,145) 100%);
    background: color($colors, header-bg);
  }
  .red-slider{
    background: color($colors, red-slider-bg);
  }
  .green-slider{
    background: color($colors, green-slider-bg);
  }
  .blue-slider{
    background: color($colors, blue-slider-bg);
  }
  .brightness-slider{
    background: color($colors, dark);
  }
  .power{
    background: #111111;
  }
}
